<div id="<%= "to_do_#{todo.id}" %>" class="to_do_item">
  Task: <b><%= todo.name %></b>
  </br>
  Group: <b><%= todo.group.name %></b>
  </br>
  <% if todo.completed %>
    Complete At: <b><%= todo.completed_at %></b>
  <% end %>
</div>